.card {
    margin-top: 170px;
    padding: 30px;
    background-color: #eee;
    border: 1px solid black;
}

input[type="text"], input[type="password"] {
    border: 1px solid rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 767px){
    .card {
        padding-top: 160px;
        margin-top: 0;
        height: 100%;
        position: relative;
        background:none;
    }

    #Card{
        background: linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,.7)), url('../Images/mbg.jpg');
        background-size: cover;
    }

    html, body, #root, #root>div { 
        margin:0; 
        padding:0; 
        height:100%; 
    }
    #Card h1 {
        font-weight: bold;
        font-size:35px;
    }

    #Card span{
        color: black;
        font-size:25px;
        font-weight: bold;
    }

    #Card #ErrorMessage {
        color: red;
        font-size: 14px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .card {
        margin-top: 290px;
    }
}

@media screen and (min-width: 768px) {
    body{
        background-image:  url('../Images/bg.jpg');
    }
}

@media screen and (min-width: 1200px) {
    body{
        background-size: cover;
    }
}