.white-bg{
    background-color: #FFFFFF;
}

.blue-bg{
    background-color: #1180FF;
}

.red-bg{
    background-color: #ff3333;
}

.center-item{
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.h10{
    height: 10px;
}

.h20{
    height: 20px;
}

.bold{
    font-weight: bold;
}

.center-text{
    text-align: center;
}

.black-text{
    color: #000000;
}

.white-text{
    color: #FFFFFF;
}

.grey-text{
    color: grey;
}

.blue-text{
    color: #1180FF;
}

.padding-5{
    padding: 5px;
}

.padding-10{
    padding: 10px;
}

.padding-15{
    padding: 15px;
}

.no-margin{
    margin: 0;
}

.no-padding{
    padding: 0;
}

.fs-14{
    font-size: 14px;
}

.fs-16{
    font-size: 16px;
}

.fs-18{
    font-size: 18px;
}

.fs-20{
    font-size: 20px;
}

.fs-40{
    font-size: 40px;
}

.fs-50{
    font-size: 50px;
}

.fs-60{
    font-size: 60px;
}