.white-bg{
    background-color: #FFFFFF;
}

.blue-bg{
    background-color: #1180FF;
}

.red-bg{
    background-color: #ff3333;
}

.turquoise-bg{
    background-color: #006266;
}

.full-width{
    width: 100%;
}

.no-wrap{
    white-space: nowrap;
}

.center-item{
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.h10{
    height: 10px;
}

.h15{
    height: 15px;
}

.h20{
    height: 20px;
}

.h30{
    height: 30px;
}

.bold{
    font-weight: bold;
}

.center-text{
    text-align: center;
}

.justify-text{
    text-align: justify;
}

.black-text{
    color: #000000;
}

.white-text{
    color: #FFFFFF;
}

.red-text{
    color: red;
}

.grey-text{
    color: grey;
}

.blue-text{
    color: #1180FF;
}

.padding-5{
    padding: 5px;
}

.padding-10{
    padding: 10px;
}

.padding-15{
    padding: 15px;
}

.padding-20{
    padding: 20px;
}

.margin-15{
    margin: 15px;
}

.no-margin{
    margin: 0;
}

.no-padding{
    padding: 0;
}

.fs-12{
    font-size: 12px;
}

.fs-14{
    font-size: 14px;
}

.fs-16{
    font-size: 16px;
}

.fs-18{
    font-size: 18px;
}

.fs-20{
    font-size: 20px;
}

.fs-30{
    font-size: 30px;
}

.fs-40{
    font-size: 40px;
}

.fs-50{
    font-size: 50px;
}

.fs-60{
    font-size: 60px;
}

.loading-icon{
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(90deg); }
    50% { transform: rotate(180deg); }
    75% { transform: rotate(270deg); }
    100% { transform: rotate(360deg); }
}

.flip-Y{
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.inline{
    display: inline;
}

.pointer{
    cursor: pointer;
}

.card {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 30px;
    background-color: #eee;
    border: 1px solid black;
}

.card input[type="text"], .card input[type="password"] {
    border: 1px solid rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 767px){
    .card {
        height: 100%;
        position: relative;
        background: linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,.7)), url('../Images/mbg.jpg');
        background-size: cover;
    }

    .card>div{
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .card h1 {
        font-weight: bold;
        font-size:35px;
    }

    .card span{
        color: black;
        font-size:25px;
        font-weight: bold;
    }

    .card #ErrorMessage {
        color: red;
        font-size: 14px;
    }
}

@media screen and (min-width: 768px) {
    body{
        background-image:  url('../Images/bg.jpg');
    }
}

@media screen and (min-width: 1200px) {
    body{
        background-size: cover;
    }
}