#Filter{
    padding: 30px 15px;
    margin: 15px 0;
}

#BeerIcon{
    -webkit-filter: invert(100%);
    filter: invert(100%);
    margin: -10px 0 0 -10px;
}

@media screen and (max-width: 991px) {
    #SearchHeader{
        font-size:18px;
    }

    input, .selector{
        margin:10px 0;
    }
}