.selector{
    width: 100%;
    border: none;
    border-radius: 3px;
}

.Select-placeholder{
    color: grey;
    padding-top:3px;
}

.Select-arrow{
    top:1px;
}

.Select-control{
    height:40px;
    border: none;
    cursor:pointer;
}

.Select-value{
    top:3px !important;
}

.Select-clear-zone{
    top: 2px;
}