.card {
    margin-top: 170px;
    box-shadow: 0 0 10px 4px grey;
    padding: 30px;
    background-color: #FFFFFF;
    border: 1px solid black;
}

@media screen and (max-width: 767px){
    .card {
        margin-top: 0;
        height: 100%;
    }
    html, body, #root, #root>div { 
        margin:0; 
        padding:0; 
        height:100%; 
      }
}