.card {
    margin-top: 170px;
    padding: 30px;
    background-color: #FFFFFF;
    border: 1px solid black;
}

@media screen and (max-width: 767px){
    .card {
        padding-top: 160px;
        margin-top: 0;
        height: 100%;
        background-image: url('../Assets/Images/mbg.gif');
        background-size: cover;
    }
    html, body, #root, #root>div { 
        margin:0; 
        padding:0; 
        height:100%; 
    }
    h1 {
        font-weight: bold;
        font-size:35px;
    }

    span{
        color: black;
        font-size:25px !important;
        font-weight: bold;
    }
}